@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1460px;
  margin: 0 auto;
  padding: 0px 10px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 990px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

.logo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
  position: relative;
}

.logo__logo-image {
  padding: 0 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo__logo-text {
  padding: 0px 0px 0px 40px;
}

.logo__logo-text :first-child {
  font-weight: 400;
}

.logo__logo-text :last-child {
  font-weight: 800;
}

.menu {
  max-width: 400px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu__link {
  color: white;
}

.menu__link:active {
  color: #000;
  -webkit-box-shadow: 5px 5px 7px lime;
          box-shadow: 5px 5px 7px lime;
  padding: 0;
}

.btn {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px 40px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  background-color: blanchedalmond;
  color: black;
}

.btn:hover {
  background-color: #061e37;
  color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: none;
  min-height: 100vh;
  padding: 50px 0px 185px 0px;
  width: 100%;
  background: url("/img/main_bg.jpg") center/cover no-repeat;
  font-family: Raleway;
}

.header .container {
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 169px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__button-top-link {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  padding: 6px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid white;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

@media (max-width: 767px) {
  .header__row {
    display: block;
  }
}

.header__content {
  margin-right: 260px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}

@media (max-width: 767px) {
  .header__content {
    margin: 0;
    text-align: center;
  }
}

.header__title {
  font-size: 55px;
  line-height: 65px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 25px;
}

.header__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}

.header__button-content {
  padding-bottom: 30px;
}

.header__button-content :first-child {
  margin-right: 30px;
}

.header__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 680px;
          flex: 0 1 680px;
}

.header__video video {
  width: 100%;
  min-width: 300px;
}

.content__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 100px 0 100px 0;
  display: none;
}

.about {
  font-family: Raleway;
}

.about__all-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px 0px 15px;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 97px;
}

.about__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
}

.about__subtitle {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  color: #b0bec5;
  padding: 0px 0px 15px 0px;
}

.about__text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #b0bec5;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  margin: 0 -100px;
  margin: 0px 0px 75px 0px;
}

@media (max-width: 767px) {
  .about__content {
    display: block;
  }
}

.about__content-column {
  padding: 0px 100px;
}

@media (max-width: 1200px) {
  .about__content-column {
    padding: 0px 50px;
  }
}

.about__button {
  text-align: center;
}

.about__button-link {
  background-color: #1de9b6;
  color: #ffffff;
}

.column__image {
  padding: 0px 0px 45px 0px;
}

.column__image :nth-child(2) {
  max-height: 70px;
}

.column__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #061e37;
  padding: 0px 0px 20px 0px;
}

.column__text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #78909c;
}

.content__statistic-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}

.content__statistic-column1 {
  background: #80d8ff;
}

.content__statistic-column2 {
  background: #82b1ff;
}

.content__statistic-column3 {
  background: #b388ff;
}

.content__statistic-column4 {
  background: #ea80fc;
}

.statistic-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px;
}

.statistic-column__image {
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 23px;
}

.statistic-column__image img {
  display: block;
  width: 100%;
  position: absolute;
  top: 10px;
  left: 10px;
  height: 20px;
  width: 20px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
}

.statistic-column__text {
  color: white;
  font-family: Raleway;
  font-size: 20px;
  line-height: 25px;
  font-weight: 800;
  color: #ffffff;
}

.content__services {
  display: none;
  min-height: 100vh;
  font-family: Raleway;
  padding: 100px 0;
}

.content__services .container {
  max-width: 800px;
  margin: 0 auto;
}

<<<<<<< HEAD
.content__top-top {
  border: 1px solid #000;
  margin-bottom: 10px;
=======
.content__services-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__top-top {
  border: 1px solid #e7e7e7;
  padding: 25px;
}

.content__top-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
>>>>>>> 4ff475ca7bafbe170790104a26b4160f35e87938
}

.content__main-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
<<<<<<< HEAD
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__mini-logo {
  padding: 0 15px;
}

.content__mini-logotext {
  font-size: 20px;
  font-weight: 500;
}

.content__mini-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
}

.content__item-image {
  max-width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.content__item-image img {
  border: 1px solid #000;
  border-radius: 9px;
  right: 0;
}

.content__item-text {
  float: right;
}

.maintop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #000;
  margin-bottom: 10px;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.maintop__minilogo {
  padding: 0 20px;
}

.maintop__minilogotext {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.maintop__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
=======
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
}

.content__mini-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
}

.content__mini-logotext {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
}

.content__mini-arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.content__item-text {
  padding-left: 10px;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #061e37;
}

.content__item-text :first-child {
  padding: 0px 0px 35px 0px;
}

.content__maintop {
  padding: 20px 25px;
  margin-bottom: 20px;
}

.content__maintop :last-child {
  margin-bottom: 0;
}

.top-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 555px;
  margin: 0 auto;
  text-align: center;
}

.top-title__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
  padding-bottom: 20px;
}

.top-title__subtitle {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #b0bec5;
  margin-bottom: 70px;
}

.maintop {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #061e37;
  border: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.maintop__minilogo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
}

.maintop__minilogotext {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
}

.maintop__arrow {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 90%;
          flex: 0 1 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__portfolio {
  padding: 40px 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: linear-gradient(-53deg, #00b8d4 21%, #1de9b6 78%);
  opacity: 0.94;
  background-color: #1de9b6;
}

.content__portfolio-content {
  color: #ffffff;
  font-family: Raleway;
  font-weight: 600;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 32.19%;
          flex: 0 1 32.19%;
}

.content__portfolio-title {
  font-size: 45px;
  line-height: 1.2;
  padding-bottom: 19px;
}

.content__portfoli-text {
  font-size: 15px;
  line-height: 25px;
  padding-bottom: 75px;
}

.content__more-info {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47.5%;
          flex: 0 1 47.5%;
}

.content__info {
  margin-bottom: 70px;
}

.content__info :last-child {
  margin-bottom: 0;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info__img {
  padding-right: 50px;
}

.info__text {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  line-height: 25px;
  padding: 32px 64px 30px 30px;
}

.info__text::before {
  content: "";
  background-image: url("/img/icons/keyboard_arrow_up_563.png");
  background-repeat: no-repeat;
  height: 14px;
  width: 23px;
  position: absolute;
  top: 0;
  left: 0px;
}

.info__title {
  font-size: 18px;
  font-weight: 700;
  color: #061e37;
}

.info__subtitle {
  font-size: 15px;
  font-weight: 400;
  color: #78909c;
>>>>>>> 4ff475ca7bafbe170790104a26b4160f35e87938
}
