@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.logo {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 15px;
}

.logo__logo-image {
  padding: 0 5px;
}

.logo__logo-text :first-child {
  font-weight: 400;
}

.logo__logo-text :last-child {
  font-weight: 800;
}

.menu {
  max-width: 400px;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.menu__link {
  color: white;
}

.menu__link:active {
  color: #000;
  -webkit-box-shadow: 5px 5px 7px lime;
          box-shadow: 5px 5px 7px lime;
  padding: 0;
}

.btn {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  border: 1px solid black;
  padding: 20px 40px;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  background-color: blanchedalmond;
  color: black;
}

.btn:hover {
  background-color: #061e37;
  color: white;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.header {
  display: none;
  min-height: 100vh;
  padding: 50px 0px 185px 0px;
  width: 100%;
  background: url(/img/main_bg.jpg) center/cover no-repeat;
  font-family: Raleway;
  position: relative;
}

.header .container {
  padding: 0px 15px 0px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__top {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 0px 169px 0px;
  height: 100%;
}

.header__button-top-link {
  font-size: 12px;
  line-height: 25px;
  font-weight: 400;
  color: #ffffff;
  padding: 6px 20px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-radius: 2px;
  border: 1px solid white;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  position: absolute;
}

.header__content {
  margin-right: 260px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 580px;
          flex: 0 1 580px;
}

.header__title {
  font-size: 55px;
  line-height: 65px;
  font-weight: 800;
  text-transform: uppercase;
  color: #ffffff;
  padding-bottom: 25px;
}

.header__text {
  font-size: 18px;
  line-height: 35px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 30px;
}

.header__button-content {
  padding-bottom: 30px;
}

.header__button-content :first-child {
  margin-right: 30px;
}

.header__video {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 680px;
          flex: 0 1 680px;
}

.header__video video {
  width: 100%;
  min-width: 300px;
}

.content__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  padding: 100px 0 100px 0;
}

.about {
  font-family: Raleway;
}

.about__all-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0px 15px 0px 15px;
}

.about__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 97px;
}

.about__title {
  font-size: 45px;
  line-height: 1.2;
  font-weight: 600;
  color: #061e37;
}

.about__subtitle {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 600;
  color: #b0bec5;
  padding: 0px 0px 15px 0px;
}

.about__text {
  font-size: 15px;
  line-height: 1.2;
  font-weight: 400;
  color: #b0bec5;
}

.about__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  text-align: center;
  margin: 0 -100px;
  margin: 0px 0px 75px 0px;
}

.about__content-column {
  padding: 0px 100px;
}

.about__button {
  text-align: center;
}

.about__button-link {
  background-color: #1de9b6;
  color: #ffffff;
}

.column__image {
  padding: 0px 0px 45px 0px;
}

.column__image :nth-child(2) {
  max-height: 70px;
}

.column__title {
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #061e37;
  padding: 0px 0px 20px 0px;
}

.column__text {
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #78909c;
}

.content__statistic {
  display: none;
}

.content__statistic .container {
  max-width: 1600px;
  margin: 0 auto;
}

.content__statistic-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content__statistic-column1 {
  background: #80d8ff;
}

.content__statistic-column2 {
  background: #82b1ff;
}

.content__statistic-column3 {
  background: #b388ff;
}

.content__statistic-column4 {
  background: #ea80fc;
}

.statistic-column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 60px 0px;
}

.content__services-column {
  text-align: center;
}

.content__services-column .container {
  margin: 0 auto;
  max-width: 800px;
}

.content__title {
  padding: 50px 0;
}

.content__subtitle {
  padding-bottom: 30px;
}

.title {
  font-size: 50px;
  font-weight: 600;
}

.subtitle {
  color: #2c3a4d;
}

.services-column__top {
  margin-bottom: 10px;
}

.services-column__maintop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  border: 1px solid #000;
}

.services-column__minilogo {
  padding: 0 25px;
}

.services-column__minilogotext {
  font-weight: 600;
}

.services-column__arrow {
  padding: 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.services-column__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-column__item-text p {
  font-size: 24px;
  padding: 0px 0px 30px 15px;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
