@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto&display=swap");
@import "nullscss.scss";
//================================================================================================================================================================================================================
.container {
	max-width: 1460px;
	margin: 0 auto;
	padding: 0px 10px;

	@media (max-width: 1200px) {
		& {
			max-width: 990px;
		}
	}
	@media (max-width: 767px) {
		& {
			max-width: none;
		}
	}
}

//================================================================================================================================================================================================================
.logo {
	flex-wrap: wrap;
	margin: 0 -5px;
	display: flex;
	flex: 0 1 auto;
	color: white;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 15px;
	position: relative;
	&__logo-image {
		padding: 0 5px;
		position: absolute;
		top: 0;
		left: 0;
	}

	&__logo-text {
		padding: 0px 0px 0px 40px;
		:first-child {
			font-weight: 400;
		}
		:last-child {
			font-weight: 800;
		}
	}
}
.menu {
	max-width: 400px;
	text-align: center;
	flex: 1 1 auto;
	&__list {
		display: flex;
		justify-content: space-between;

		li {
			display: inline-flex;
		}
	}

	&__link {
		color: white;
		&:active {
			color: #000;
			box-shadow: 5px 5px 7px lime;
			padding: 0;
		}
	}
}
.btn {
	text-align: center;
	display: inline-flex;
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.15);
	border-radius: 5px;
	border: 1px solid black;
	padding: 20px 40px;
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	background-color: blanchedalmond;
	color: black;
	&:hover {
		background-color: #061e37;
		color: white;
	}
}
//================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
//================================================================================================================================================================================================================
.header {
	//display: none;
	min-height: 100vh;
	padding: 50px 0px 185px 0px;
	width: 100%;
	background: url("/img/main_bg.jpg") center / cover no-repeat;
	font-family: Raleway;

	.container {
		padding: 0px 15px 0px 15px;
		display: flex;
		flex-direction: column;
	}

	&__top {
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		padding: 0px 0px 169px 0px;

		align-items: center;
	}

	&__button-top-link {
		font-size: 12px;
		line-height: 25px;
		font-weight: 400;
		color: #ffffff;
		padding: 6px 20px;
		display: inline-flex;
		border-radius: 2px;
		border: 1px solid white;
	}

	&__row {
		display: flex;
		align-items: center;
		height: 100%;
		@media (max-width: 767px) {
			display: block;
		}
	}

	&__content {
		margin-right: 260px;
		flex: 0 1 580px;
		@media (max-width: 767px) {
			margin: 0;
			text-align: center;
		}
	}

	&__title {
		font-size: 55px;
		line-height: 65px;
		font-weight: 800;
		text-transform: uppercase;
		color: #ffffff;
		padding-bottom: 25px;
	}

	&__text {
		font-size: 18px;
		line-height: 35px;
		font-weight: 400;
		color: #ffffff;
		padding-bottom: 30px;
	}

	&__button-content {
		padding-bottom: 30px;
		:first-child {
			margin-right: 30px;
		}
	}

	&__video {
		flex: 0 1 680px;

		video {
			width: 100%;
			min-width: 300px;
		}
	}
}
//================================================================================================================================================================================================================
.content {
	&__about {
		display: flex;
		align-items: center;
		min-height: 100vh;
		padding: 100px 0 100px 0;
		//display: none;
	}
}

.about {
	font-family: Raleway;
	&__all-column {
		display: flex;
		flex-direction: column;
		padding: 0px 15px 0px 15px;
	}

	&__header {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 550px;
		margin: 0 auto;
		text-align: center;
		margin-bottom: 97px;
	}

	&__title {
		font-size: 45px;
		line-height: 1.2;
		font-weight: 600;
		color: #061e37;
	}

	&__subtitle {
		font-size: 25px;
		line-height: 1.2;
		font-weight: 600;
		color: #b0bec5;
		padding: 0px 0px 15px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 1.2;
		font-weight: 400;
		color: #b0bec5;
	}

	&__content {
		display: flex;
		flex: 0 1 33.333%;
		text-align: center;
		margin: 0 -100px;
		margin: 0px 0px 75px 0px;
		@media (max-width: 767px) {
			display: block;
		}
	}

	&__content-column {
		padding: 0px 100px;
		@media (max-width: 1200px) {
			padding: 0px 50px;
		}
	}

	&__button {
		text-align: center;
	}
	&__button-link {
		background-color: #1de9b6;
		color: #ffffff;
	}
}
.column {
	&__image {
		padding: 0px 0px 45px 0px;
		:nth-child(2) {
			max-height: 70px;
		}
	}

	&__title {
		font-size: 20px;
		line-height: 25px;
		font-weight: 600;
		color: #061e37;
		padding: 0px 0px 20px 0px;
	}

	&__text {
		font-size: 15px;
		line-height: 20px;
		font-weight: 400;
		color: #78909c;
	}
}

//================================================================================================================================================================================================================
.content {
	&__statistic-row {
		display: flex;
		//display: none;
	}

	&__statistic-column1 {
		background: #80d8ff;
	}
	&__statistic-column2 {
		background: #82b1ff;
	}
	&__statistic-column3 {
		background: #b388ff;
	}
	&__statistic-column4 {
		background: #ea80fc;
	}
}

.statistic-column {
	flex: 0 1 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 0px;

	&__image {
		width: 60px;
		height: 60px;
		background-color: #fff;
		border-radius: 50%;
		overflow: hidden;
		position: relative;
		margin-right: 23px;

		img {
			display: block;
			width: 100%;
			position: absolute;
			top: 10px;
			left: 10px;
			height: 20px;
			width: 20px;
			transform: translate(50%, 50%);
		}
	}

	&__text {
		color: white;
		font-family: Raleway;
		font-size: 20px;
		line-height: 25px;
		font-weight: 800;
		color: #ffffff;
	}
}

//================================================================================================================================================================================================================
.content {
	&__services {
	//	display: none;
		min-height: 100vh;
		font-family: Raleway;
		padding: 100px 0;
		.container {
			max-width: 800px;
			margin: 0 auto;
		}
	}

	&__services-column {
		display: flex;
		flex-direction: column;
	}

	&__top-top {
		border: 1px solid #e7e7e7;
		padding: 25px;
	}
	&__top-content {
		display: flex;
	}

	&__main-top {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
		font-size: 15px;
		line-height: 1.2;
		font-weight: 700;
		text-transform: uppercase;
		color: #061e37;
	}

	&__mini-logo {
		flex: 0 1 5%;
	}

	&__mini-logotext {
		flex: 0 1 5%;
	}

	&__mini-arrow {
		flex: 0 1 90%;
		display: flex;
		justify-content: flex-end;
	}

	//&__item-image {}

	&__item-text {
		padding-left: 10px;
		font-size: 15px;
		line-height: 25px;
		font-weight: 400;
		letter-spacing: 0.03em;
		color: #061e37;
		:first-child {
			padding: 0px 0px 35px 0px;
		}
	}

	&__maintop {
		padding: 20px 25px;
		margin-bottom: 20px;
		:last-child {
			margin-bottom: 0;
		}
	}
}

.top-title {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 555px;
	margin: 0 auto;
	text-align: center;
	&__title {
		font-size: 45px;
		line-height: 1.2;
		font-weight: 600;
		color: #061e37;
		padding-bottom: 20px;
	}

	&__subtitle {
		font-size: 15px;
		line-height: 25px;
		font-weight: 400;
		color: #b0bec5;
		margin-bottom: 70px;
	}
}
.maintop {
	font-size: 15px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	color: #061e37;
	border: 1px solid #e7e7e7;
	display: flex;
	&__minilogo {
		flex: 0 1 5%;
	}

	&__minilogotext {
		flex: 0 1 5%;
	}

	&__arrow {
		flex: 0 1 90%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}
}

//================================================================================================================================================================================================================
.content {
	&__portfolio {
		padding: 40px 80px;
		display: flex;
		justify-content: space-between;
		background-image: linear-gradient(-53deg, #00b8d4 21%, #1de9b6 78%);
		opacity: 0.94;
		background-color: #1de9b6;
	}

	&__portfolio-content {
		color: #ffffff;
		font-family: Raleway;
		font-weight: 600;
		flex: 0 1 32.19%;
	}

	&__portfolio-title {
		font-size: 45px;
		line-height: 1.2;
		padding-bottom: 19px;
	}

	&__portfoli-text {
		font-size: 15px;
		line-height: 25px;
		padding-bottom: 75px;
	}

	&__more-info {
		position: relative;
		display: flex;
		flex-direction: column;
		flex: 0 1 47.5%;
	}

	&__info {
		margin-bottom: 70px;
		:last-child {
			margin-bottom: 0;
		}

	}

	&__info-next {
	}
}
.portfolio {
	&__button-content {
	}

	&__button-content-link {
	}
}
.btn {
}
.info {
	display: flex;
	align-items: center;
		

	&__img {
		padding-right: 50px;
	}

	&__text {
		background-color: #ffffff;
		box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		line-height: 25px;
		padding: 32px 64px 30px 30px;
				&::before {
			content: ('');
			background-image: url('/img/icons/keyboard_arrow_up_563.png');
			background-repeat: no-repeat;
			height: 14px;
			width: 23px;
			position: absolute;
			top: 0;
			left: 0px;


		}
		
	}

	&__title {
		font-size: 18px;

		font-weight: 700;
		color: #061e37;
	}

	&__subtitle {
		font-size: 15px;
		font-weight: 400;
		color: #78909c;
	}
}
